name: tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    name: test on ubuntu-latest
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Fetch latest move-tools dove binary
        uses: dsaltares/fetch-gh-release-asset@0.06
        with:
          repo: "pontem-network/move-tools"
          version: "tags/1.5.2"
          file: dove-1.5.2-linux-x86_64
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare dove
        run: |
          mv dove-1.5.2-linux-x86_64 dove
          sudo chown runner ./dove && chmod +x ./dove
          echo "Dove: $(./dove -V)"

      - name: Test
        run: ./dove package test
